@use 'variables.scss';
@use 'z-index.scss';
@use 'animations.scss';
@use 'components/terminal.scss';
@use 'components/resize-handle.scss';
@use 'components/code.scss';
@use 'components/editor.scss';
@use 'components/toast.scss';

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Montserrat", serif;
}
@keyframes shine {
  0% { background-position: 100%; }
  100% { background-position: -100%; }
}

:root {
  --gradient-opacity: 0.8;
  --primary-color: rgba(147, 112, 219, var(--gradient-opacity));
  --secondary-color: rgba(138, 43, 226, var(--gradient-opacity));
  --accent-color: rgba(180, 170, 220, var(--gradient-opacity));
}
*::-webkit-scrollbar,
*::-webkit-scrollbar-thumb {
  width: 0;
  border-radius: 13px;
  background-clip: padding-box;
  border: 10px solid transparent;
  background-color: #1b1b1b; /* Light gray background */
}

*::-webkit-scrollbar-thumb {        
  box-shadow: inset 0 0 0 10px #000; /* Dark gray/black thumb color */
}
.shiki.dark-plus{
  white-space: break-spaces;
}
